// Define variables for your color scheme
$primary: #D81159;

// For example:
$red: #FD1015;
$blue: #218380;
$yellow: #FFBC42;
$orange: #FF7761;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


$light-yellow: #FEDA97;
$light-orange: #FFC2B8;
$light-primary: #FBEEFB;
$light-blue: #DAFCFB;


$dark-yellow: #F9A11B;
$dark-orange: #CE4933;
$dark-primary: #8F2D56;
$dark-blue: #274555;
