// Specific CSS for your home-page
.hero {
  height: 70vh;
  background-size:cover;
  background-position: center;
  padding: 25px 0 40px 0;
  background-color:rgb(255, 225, 213);
}

.hero h1 {
  margin-left: 70px;
  margin-bottom:20px;
}

.hero h3 {
  margin-left: 70px;
  margin-bottom:30px;
  font-family: "lato";
}

.home-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top:40px;
}

.search{
  background-color:$light-primary;
  height: 300px;
  padding-top:50px
}
.search-page{
  height: 150px;
  padding-top:50px
}

.features {
  text-align: center;
  margin-top: 50px;
  margin-bottom:50px;
}
.features p {
  width:80%;
  margin:0 auto;
}

.highlight {
  color: $primary;
  font-weight: bold;
}

.search-title {
  display: flex;
  grid-gap: 16px;
  justify-content: center;
}

.games-month {
  text-align: center;
  height: 600px;
}
.title-games-month {
margin-top:50px;
margin-bottom:40px;
}
.game-month {
  margin-top: 50px;
}

.blob-left {
  position: absolute;
  left:0;
  margin-top: 30px;

}
.blob-right {
  position: absolute;
  right: 0;
  margin-top: -500px;
}

.slider-image {
  height: 44vh;
  margin: auto;
  width: 42vh;
}

.carousel-height {
  height: 70vh;
}

.btn-carroussel {
  margin: auto;
  margin-bottom: 30px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .home-features {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .home-features {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .home-features {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .home-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .home-features {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
