.game_presentation{
  padding: 16px;
  display: flex;
}

.game_borrower_picture {
  position: absolute;
  top: 100px;
  left: 50px;
}

.blob_show {
  background-image: asset-url('Game_Show/blob_show.svg');
  background-position: bottom;
  background-size: 80%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50em;
  height: 36em;
  left: -8em;
  position: relative;
  z-index: -1;
  img {
    mix-blend-mode: multiply;
    max-width: 600px;
    height: auto;
    left: 10em;
    position: relative;
  }
}

.main_infos {
  width: 60%;
  margin: 2em;
}

.colored_infos {
  display: flex;
  justify-content: flex-start;
  grid-gap: 20px;
  .colored_info1 {
    color: white;
    background-color: #F6ADC7;
    border-radius: 50px;
    padding: 6px 10px 6px 10px;
  }
  .colored_info2 {
    color: white;
    background-color: #FEDA97;
    border-radius: 50px;
    padding: 6px 10px 6px 10px;
  }
  .colored_info3 {
    color: white;
    background-color: #FFC2B8;
    border-radius: 50px;
    padding: 6px 10px 6px 10px;
  }
}


.card-review {
  width: 42em;
  background-color: white;
  border-radius: 7px;
  margin: 0 auto;
}

.game_show_rating {
  color: #858585;
  padding-top: 20px;
  padding-bottom: 20px;
}

.game_mec_details {
  color: $orange;
}
.game_cat_details {
  color: $blue;
}
.game-infos-background {
  background-color: #F6EEF1;
  display: flex;
  padding-left: 100px;
}

.left_infos {
  width: 70%;
  margin: 1em;
  padding: 2em;
}

.right_infos {
  width: 30%;
  background-color: #F6D0DE;
  padding:  1em 2em 2em 2em;
  margin: 2em;
  .subinfos {
    color: #7B686F;
  }
}

.reviews-background {
  background-color: $light-yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 16px;
  h2 {
    text-align: center;
    padding: 16px;
  }
}

.cards-reviews {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 8px;
  margin-bottom: 30px;
}

.review_infos {
  flex-grow: 1;
  margin: .5rem;
}

.left-review {
  width: 60%;
  margin-left: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.username-review {
  // justify-self: flex-start;
  font-weight: bold;
  margin-bottom: 0;
}

.text-review {
  color:#BFBFBF;
  margin-bottom: 0;
}

.right-review {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.rating-review {
  color: #ABABAB
}

.date-review {
  margin-bottom: 0;
  color: #ABABAB
}

.blob-left-show {
  position: absolute;
  left:0;
  margin-top: 700px;

}
.blob-right-show {
  position: absolute;
  right: 0;
  margin-top: 900px;

}
