.library-games-podium {
background-color: $light-primary;
text-align: center;
}


.library-games-stats {
  background-color: $yellow;
  text-align: center;
  padding-bottom: 30px;
  height: 400Px;
}


.global-opinion {
  font-size: 10px;
  margin-bottom: 0px;
  padding-bottom: 30px;
}

.statistics {
  background-color:white;
  width: 80%;
  margin: 30px auto 35px auto;
  border-radius: 5px;
  -webkit-box-shadow: 1px 2px 18px -3px rgba(0,0,0,0.83);
  box-shadow: 1px 2px 18px -3px rgba(0,0,0,0.83);
}

.statistics-picto {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 1em;
}

.statistic-item {
  width: 80%;
  margin: auto;
}

.statistic-title {
  margin: auto;
}

.podium-place {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.place {
  margin: 0 12px;
  display: flex;
  flex-direction: column-reverse;
}
