.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  height: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-review {
  height: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-self: center;
}

.avatar-friends {
  height: 100px;
  border-radius: 50%;
}

.avatar-guests {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: $light-orange;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-guest-podium {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: $light-orange;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
