.btn-primary {
  font-family:'Nerko One';
  color: white;
  background:$primary;
  margin:3px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  transition: background 0.3s ease;
  box-shadow: 0 2px 0 rgba($color:$dark-primary, $alpha: 1.0);
  &:hover {
    box-shadow: 0 0px 0 rgba($color:$dark-primary, $alpha: 1.0);
    transform: translateY(2px);
    transition: 0.3s;
  }
}

.btn-secondary-navbar {
  font-family:'Nerko One';
  color:$primary;
  background:$light-blue;
  padding: 6px 20px 10px 20px;
  border-radius: 20px;
  transition: background 0.3s ease;
  border:solid;
}


.btn-secondary {
  font-family:'Nerko One';
  color:$primary;
  background:white;
  margin:3px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  transition: background 0.3s ease;
  border:solid;
  box-shadow: 0 2px 0 rgba($color:$dark-primary, $alpha: 1.0);
}


.btn-secondary:hover {
  color: white;
  background:$primary;
  border: $light-primary solid;
  box-shadow: 0 0px 0 rgba($color:$dark-primary, $alpha: 1.0);
  transition:.3s;
  transform: translateY(2px);
}

a:focus {
  outline: 0 !important;
}
.btn-secondary:not(:disabled):not(.disabled):active {
  background-color:inherit;
}
.btn-secondary:focus {
  font-family:'Nerko One';
  color:$primary;
  background:white;
  margin:3px;
  padding: 10px 20px 10px 20px;
  border-radius: 25px;
  transition: background 0.3s ease;
  border:solid;
  box-shadow: 0 0px 0 rgba($color:$dark-primary, $alpha: 1.0);
  outline:0 !important;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0px 0px 0px rgba(255,255,255,0);
}
