.color {
 background-color: $light-primary;
}

.log_in{
  height: 450px;
}

.sign-in-background {
  background-image:asset-url('sign-in.png');
  background-size:cover;
}

.espace {
  height: 150px;
}
