.cards {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr));
  grid-gap: 16px;
  padding: 0 200px;
}

.card {
  border-radius: 20px;
  display: block;
  position: relative;
}

.blob{
  background-image: url(./blob.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.image-card {
  width: 250px;
  // position: center;
  margin: 0 auto;
  display: block;
  padding: 2em;
}
