.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 16px;
  padding: 0 70px;
  margin-bottom: 40px;
  margin-top: 40px;;
}

.card {
  border-radius: 20px;
  display: block;
  position: relative;
  width:250Px;
  -webkit-box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
  -moz-box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
  box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
  color: black;
  height: 400px;
}

.blob{
  background-image: asset-url('blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 290px;
  display: flex;
  margin-bottom: -10px;
}

.blob-grey{
  background-image: asset-url('blob_grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 310px;
  display: flex;
  margin-bottom: -10px;
}

.image-card {
  width: 250px;
  // position: center;
  margin: 0 auto;
  display: block;
  padding: 2em;
  // mix-blend-mode: multiply;
  mix-blend-mode:darken;
  align-self: center;
}

.card-game-linked:hover{
  text-decoration: none !important;
  transform: scale(1.05);
  transition: 0.8s;
}

.blob-left-games {
  position: absolute;
  left: 0;
  margin-top: 1px;
}

.blob-right-games {
  position: absolute;
  right: 0;
  margin-top: px;
}

// A voir plus tard pour le blob
// "style="transform: rotate(<%= rand 360 %>deg); -ms-transform: rotate(<%= rand 360 %>deg);"

.card-game-linked {
  transition: 0.8s;
}

.card-infos {
  justify-content: space-around;
  align-items: center;
}

.home-categories {

}

.home-categories p {
  font-size: 13px;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #FF7761;
  text-align: center;
}

.game_show_rating_card {
  color: #858585;
}
