.cards {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // grid-template-columns: repeat( auto-fit, minmax(300px, 1fr));
  // grid-gap: 16px;
  padding: 0 200px;
  margin-bottom: 25px;
}

.card {
  border-radius: 20px;
  display: block;
  width: 350px ;
  margin-top: 25px;
  -webkit-box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
  -moz-box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
  box-shadow: -9px 17px 89px -47px rgba(0,0,0,0.71);
}

.blob{
  background-image: asset-url('blob.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  display: flex;
}

.blob-grey{
  background-image: asset-url('blob_grey.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 320px;
  display: flex;
}

.image-card {
  width: 250px;
  // position: center;
  margin: 0 auto;
  display: block;
  padding: 2em;
  // mix-blend-mode: multiply;
  mix-blend-mode:darken;
  align-self: center;
}

// A voir plus tard pour le blob
// "style="transform: rotate(<%= rand 360 %>deg); -ms-transform: rotate(<%= rand 360 %>deg);"
