.modal-content {
  background-color:$light-blue;
}
.fa-star {
  color:  #FFD700;
  cursor: pointer;
}
.review i {
  font-size: 32px;
}

#AddPlayer {
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
}
