.navbar {
  background-color:$light-blue;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.nav-link {
  margin-bottom:5;
}

.navbtn {
  margin-top:5px;
}
 .navbar-nav {
  align-items: center;
}
