.search-grid {
  /* margin: auto; */
  display: flex;
  grid-gap: 16px;
  // padding: 20px;
  justify-content: center;
  align-content: center;
  justify-items: end;
  align-items: center;
}

.form-control {
border: none;
border-radius: 5px;
}


.search-btn-2 {
  display: flex;
}

.search-background{
  background-color: $light-primary;
  margin-bottom: 20px;
  background-color:$light-primary;
  height: 200px;
  padding-top:50px
}

.form-control {
  // margin: 0 20px;
}

#query {
  width: 200px;
}

#min_age {
  width: 100px;
}

#duration {
  width: 100px;
}

#players_number {
  width: 100px;
}
