.vertical-navbar {
  background-color: $dark-blue;
  height: auto;
}

.index-page {
  display: flex;
}

.friends-page {
  display: flex;
}

.navbar-icon-1 {
  height: 50px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 40px;
  width: 50px;
  position: sticky;
  top: 40px;
  background-color: $light-blue ;
  -webkit-mask: url(vertical-navbar/my-ludo-icon.svg) no-repeat center;
  mask: url(vertical-navbar/my-ludo-icon.svg) no-repeat center;

  &:hover {
    background-color: white ;
    -webkit-mask: url(vertical-navbar/my-ludo-icon.svg) no-repeat center;
    mask: url(vertical-navbar/my-ludo-icon.svg) no-repeat center;
  }
}
.navbar-icon-2 {
  height:50px;
  margin-left:8px;
  margin-top: 40px;
  width: 50px;
  position: sticky;
  top: 130px;
  background-color: $light-blue ;
  -webkit-mask: url(vertical-navbar/search-icon.svg) no-repeat center;
  mask: url(vertical-navbar/search-icon.svg) no-repeat center;

  &:hover {
    background-color: white ;
    -webkit-mask: url(vertical-navbar/search-icon.svg) no-repeat center;
    mask: url(vertical-navbar/search-icon.svg) no-repeat center;
 }
}

.navbar-icon-3 {
  height:50px;
  margin-left: 8px;
  margin-top: 40px;
  width: 50px;
  position: sticky;
  top: 220px;
  background-color: $light-blue ;
  -webkit-mask: url(vertical-navbar/game-session-icon.svg) no-repeat center;
  mask: url(vertical-navbar/game-session-icon.svg) no-repeat center;

  &:hover {
    background-color: white ;
    -webkit-mask: url(vertical-navbar/game-session-icon.svg) no-repeat center;
    mask: url(vertical-navbar/game-session-icon.svg) no-repeat center;
  }
}

.navbar-icon-4 {
  height:50px;
  margin-left: 8px;
  margin-top: 40px;
  width: 50px;
  position: sticky;
  top: 320px;
  background-color: $light-blue ;
  -webkit-mask: url(vertical-navbar/friends.svg) no-repeat center;
  mask: url(vertical-navbar/friends.svg) no-repeat center;

  &:hover {
    background-color: white;
    -webkit-mask: url(vertical-navbar/friends.svg) no-repeat center;
    mask: url(vertical-navbar/friends.svg) no-repeat center;
  }
}
