// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/flatpickr";

// Your CSS partials
@import "components/index";
@import "pages/index";


h2, h1{
  font-family: $headings-font-family;
}

h1 {
  font-size:64px;
  line-height: 80%;
}


h2 {
  font-size:36px;
}

h3 {
  font-size:24px;
}

a:hover {
  text-decoration: none!important;
}

::placeholder {
  color: rgb(209, 209, 209) !important;
  }

.content-global {
  padding-top: 60px;
}
